.Slices{
    width: 30%;
    height: 20px;
    background-color: black;
    min-width: 100px;
    color: transparent;
}
.SlicesWhite{
    width: 30%;
    height: 20px;
    background-color: #D9D9D9;
    min-width: 100px;
    color: transparent;
}
