@font-face {
  font-family: Brokman;
  src: url(../src/assets/fonts/Brokman\ Bold.ttf);
}

:root {
  --bordo: #9B0F28;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Brokman;
}

.view {
  padding: 15px;
  width: 100%;
  min-height: 65vh;
}

.btn__bordo {
  width: 100%;
  max-width: 350px;
  background: var(--bordo);
  color: white;
  padding: 15px;
  font-size: 17px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--bordo);
  border-radius: 5px;
  cursor: pointer;
}

.btn__back {
  display: flex;
  align-items: center;
  gap: 5px;
  background: none;
  border: none;
  font-size: 17px;
  color: var(--bordo);
  cursor: pointer;
}
